<div class="ui-theme-settings " [ngClass]=" changePasswordService.showChangePassword? 'settings-open' : ''">
    <button type="button" class="btn-open-options btn btn-primary" (click)="closeChangePass()">
        <i class="fa fa-close fa-w-16  fa-2x text-white d-flex justify-content-center"></i>
    </button>
    <div class="theme-settings__inner">
        <div class="scrollbar-container">
            <div class="theme-settings__options-wrapper">
                <h3 class="themeoptions-heading" id="pageTitleSide">{{'change_password'| translate}}</h3>
                <div class="p-3">
                    <form class=" form mt-2" id="ChangePasswordForm" [formGroup]="form">
                        <div class=" text-left form-group">
                            <div class="  input-wrap is-required">
                                <label class="label-input-pos  required-label"
                                    for="">{{'old_password'| translate}}</label>
                                <input type="password" formControlName="oldPassword" class="form-control input-sm"
                                    autocomplete="off">
                            </div>
                            <control-messages [control]="form.controls.oldPassword"
                            [title]="'oldPassword'" [validationMessages]="validationMessages"
                            [inputType]="'lg-input'"></control-messages>

                        </div>

                        <div class=" text-left form-group" formGroupName="passwordGroup">
                            <div class="  input-wrap is-required">
                                <label class="label-input-pos required-label">{{'new_password'| translate}}</label>
                                <input type="password" formControlName="newPassword" class="form-control input-sm mb-1"
                                    id="Password">
                            </div>
                            <span *ngIf="passwordCtrl.errors && passwordCtrl.errors.required  && passwordCtrl.dirty 
                                && passwordCtrl.touched"
                                class="validationMsg text-danger justify-content-start d-flex">{{validationMessages.Password_required| translate}}</span>
                            <span *ngIf="passwordCtrl.errors && !passwordCtrl.errors.required && passwordCtrl.errors.minlength &&
                                 passwordCtrl.errors && passwordCtrl.dirty && passwordCtrl.touched"
                                class="validationMsg text-danger justify-content-start d-flex">{{validationMessages.Password_minlength| translate}}</span>
                            <span *ngIf="passwordCtrl.errors && !passwordCtrl.errors.required && !passwordCtrl.errors.minlength && passwordCtrl.errors.pattern && 
                                passwordCtrl.errors && passwordCtrl.dirty && passwordCtrl.touched"
                                class="validationMsg text-danger justify-content-start d-flex">{{validationMessages.Password_pattern| translate}}</span>

                        </div>
                        <div class=" text-left form-group" formGroupName="passwordGroup">
                            <div class="  input-wrap is-required">
                                <label class="label-input-pos required-label">{{'confirm_password'| translate}}</label>
                                <input type="password" name="password2" class="form-control input-sm mb-1"
                                    id="ConfirmPassword" formControlName="confirmPassword" nospace>
                            </div>
                            <span *ngIf="confirmPasswordCtrl.errors && confirmPasswordCtrl.errors.required  && confirmPasswordCtrl.dirty 
                                && confirmPasswordCtrl.touched"
                                class="validationMsg text-danger justify-content-start d-flex">{{validationMessages.confirmPassword_required| translate}}</span>
                            <span *ngIf="confirmPasswordCtrl.errors && !confirmPasswordCtrl.errors.required && confirmPasswordCtrl.errors.isMatching &&
                                  confirmPasswordCtrl.dirty && confirmPasswordCtrl.touched"
                                class="validationMsg text-danger justify-content-start d-flex">{{validationMessages.confirmPassword_isMatching| translate}}</span>
                        </div>

                        <div class="form-group mb-6">
                            <button type="button" class="w-100 btn btn-primary mb-4 bg-lo " [disabled]="!form.valid"
                                (click)="changePassword()">{{'change_password'| translate}}</button>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div role="alert">
                                    <div>
                                        <alert></alert>
                                    </div>
                                    <!-- <button type="button" class="close">
                                        <span aria-hidden="true">×</span>
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>