<div class="mat-app-background">
    <div class="fixed-topnav">
        <div class="col-12 col-md-12 col-sm-12 ">
            <div class=" select-account">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <select #selectedLang (change)="switchLanguage()">
                    <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                        [selected]="lang === translate.currentLang">
                        {{lang|translate}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class=" row-direction1 loginpage">

        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 accountformdisplay">
            <div class="centering-div">

                <div class="d-flex ">
                    <div class="dropdown mr-1 mb-3 w-100">
                        <div class="row d-flex justify-content-center  mb-1" style='direction: ltr;'>
                            <div class="col-12 col-md-10 col-sm-10  d-flex justify-content-center">
                                <div class="heading-login mb-3 ">
                                    <img src="assets/images/arqami_logo.svg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row row-direction1 mb-3 w-75 justify-content-center">
                    <div class="col-md-12 ">
                        <div class="form-login-container">
                            <div class="container" style="padding:0">
                                <div class="card-acount brand ">
                                    <div class="card-body text-center">
                                        <div class="col-md-12 d-block">
                                            <form class="loginFormAdmin form" [formGroup]="form" id="ForgetPassForm">
                                                <div class="text-left form-group mb-4">

                                                    <div class="  input-wrap is-required">
                                                        <label class="label-input-pos  required-label" for="">
                                                            {{'Email'|translate}}</label>
                                                        <input type="email" name="email" id="Email"
                                                            class="form-control input-sm" formControlName="email">
                                                    </div>
                                                    <control-messages [control]="form.controls.email"
                                                    [title]="'email'" [validationMessages]="validationMessages"
                                                    [inputType]="'lg-input'">
                                                </control-messages>
                                                </div>
                                                <div class="form-group " (click)="reSendEmail()">
                                                    <button type="button" [disabled]="!form.valid"
                                                        class="w-100 btn btn-lg  bg-lo">{{'Send'|translate}}</button>
                                                </div>

                                                <div class="M_welocmDiv mb-2">
                                                    <label class=" text-center font-Bold text-black">
                                                        {{'ReturnTo'|translate}}
                                                    </label>
                                                    <label class="ml-2 text-center font-Light arqami-color" routerLink="/login">
                                                        <a class="arqami-color"> {{'Login'|translate}}
                                                        </a>
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>