<div class="mat-app-background">


    <div class=" row-direction1 loginpage">

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 accountformdisplay">
            <div class="centering-div">

                <div class="d-flex ">
                    <div class="dropdown mr-1 mb-3 w-100">
                        <div class="row d-flex justify-content-center  mb-1" style='direction: ltr;'>
                            <div class="col-12 col-md-10 col-sm-10  d-flex justify-content-center">
                                <div class="heading-login mb-3 ">
                                    <img src="assets/images/arqami_logo.svg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row row-direction1 mb-3 w-75 justify-content-center">
                    <div class="col-md-12 ">
                        <div class="form-login-container">
                            <div class="container" style="padding:0">
                                <div class="card-acount brand ">
                                    <div class="card-body text-center">
                                        <div class="col-md-12 d-block">
                                            <div class="card-body text-center">
                                                <div class="page-body pb-4 bg-transparent">
                                                    <div style="text-align:center;">
                                                        <div class="checkmark-circle">

                                                            <div class="success success--big"></div>
                                                        </div>

                                                    </div>
                                                    <div class="head">
                                                        <h2 style="margin-top:7px;" string="ResetEmailSent">
                                                            Reset password's email sent
                                                        </h2>

                                                        <h5 style="margin-top: 9px; line-height: 1.5; font-size: 14px; color: #838383;" string="ResetEmailSentDetails">
                                                            We have sent an email to your email address contains a link to reset your password, please check your email (You may find our email in your Junk/Spam).
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="mb-4 d-flex ">
                                                    <button type="button" class="m-auto w-50 btn btn-lg  bg-lo ">login</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>