<div class="pt-77">
    <nav class="Breadcrumb-title" aria-label="breadcrumb">
        <ol class="breadcrumb  ">
            <li class="mr-3 active">
                <i class="fa fa-tachometer arqami-color" aria-hidden="true"></i>
            </li>

            <li class="breadcrumb-item active" aria-current="page">
                <span id="pageTitle">{{'dashboard'| translate}}</span>
            </li>
        </ol>
    </nav>

    <div class="main-content">
        <div class="container" style="height: 80%;">
            <div class="home-center">
                <div class="header-dashboard ">
                    <h1 class="arqami-color">WELCOME ! INDIAN RESTAURANT</h1>
                </div>
                <div class="para-dashboard ">
                    <p class="arqami-color">Dashboard will added after store configuration</p>
                </div>
                <div class="image-dashboard">
                    <img src="assets\images\arqami-home.png" alt="">

                </div>
            </div>
        </div>
    </div>
</div>