<div class="pt-77">
    <nav class="Breadcrumb-title" aria-label="breadcrumb">
        <ol class="breadcrumb  ">
            <li class="mr-3 active">
                <i class="fa fa-tachometer arqami-color" aria-hidden="true"></i>
            </li>

            <li class="breadcrumb-item active" aria-current="page">
                <span id="pageTitle" *ngIf="translate.currentLang=='en'">{{title}} {{'WorkStation'| translate}}</span>
                <span id="pageTitle" *ngIf="translate.currentLang=='ar'">{{'WorkStation'| translate}} {{title}}</span>
            </li>
        </ol>
    </nav>

    <div class="main-content">
        <div class="p-2">
            <kendo-grid [kendoGridBinding]="gridViewArr" kendoGridSelectBy="id" [pageSize]="pageSize" [pageable]="{
      
            pageSizes: pageSizes
      
          }" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true" [height]="480">

                <ng-template kendoGridToolbarTemplate>
                    <div class="float-left">
                        <input placeholder="{{'search_all_columns'|translate}}" kendoTextBox (input)="search($event.target.value)" class="kendo-search textbox1 " />
                        <input title="Search" value="" type="submit" class="button1">
                    </div>
                    <button kendoGridExcelCommand type="button" icon="file-excel" class="btn  btn-primarynpm text-white float-right">
            {{'Export_to_Excel'|translate}}
          </button>
                    <button *ngIf="showActive==false" class="btn btn-outline-primary mr-2 float-right" type="button" (click)="getWorkStationsActive()"><span class="fa fa-check-square-o"> </span></button>
                    <button *ngIf="showActive==true" class="btn btn-outline-warning float-right" type="button" (click)="getWorkStationsPending()"><span class="fa fa-spin fa-spinner">
            </span></button>
                    <!-- <button kendoGridPDFCommand icon="file-pdf" class="btn  btn-info float-right">
                    {{'Export_to_PDF'|translate}}
                </button> -->
                </ng-template>
                <kendo-grid-column field="CompanyName" title="{{'CompanyName'|translate}}" [width]="120" *ngIf="translate.currentLang=='en'">
                </kendo-grid-column>
                <kendo-grid-column field="CompanyNameAr" title="{{'CompanyNameAr'|translate}}" [width]="120" *ngIf="translate.currentLang=='ar'">
                </kendo-grid-column>

                <kendo-grid-column field="BrandName" title="{{'BrandName'|translate}}" [width]="120" *ngIf="translate.currentLang=='en'">
                </kendo-grid-column>
                <kendo-grid-column field="BrandNameAr" title="{{'BrandNameAr'|translate}}" [width]="120" *ngIf="translate.currentLang=='ar'">
                </kendo-grid-column>

                <kendo-grid-column field="BranchName" title="{{'BranchName'|translate}}" [width]="120" *ngIf="translate.currentLang=='en'">
                </kendo-grid-column>
                <kendo-grid-column field="BranchNameAr" title="{{'BranchNameAr'|translate}}" [width]="120" *ngIf="translate.currentLang=='ar'">
                </kendo-grid-column>

                <kendo-grid-column field="WorkstationName" title="{{'WorkstationName'|translate}}" [width]="120">
                </kendo-grid-column>

                <kendo-grid-column field="Phone" title="{{'Phone'|translate}}" [width]="120"></kendo-grid-column>

                <kendo-grid-column field="CreateDate" title="{{'CreateDate'|translate}}" [width]="120" filter="date" format="dd/MM/yyyy">
                </kendo-grid-column>

                <kendo-grid-column [width]="120">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <button *ngIf="dataItem.StatusID==6" class="btn btn-outline-primary mr-2" type="button" (click)="activeWorkStations(dataItem)"><span class="fa fa-check"> </span></button>
                        <button *ngIf="dataItem.StatusID==6" class="btn btn-outline-danger" type="button" (click)="deleteWorkStations(dataItem)"><span class="fa fa-trash">
              </span></button>
                    </ng-template>
                </kendo-grid-column>

                <!-- <kendo-grid-pdf fileName="WorkStations.pdf" [repeatHeaders]="true"></kendo-grid-pdf> -->
                <kendo-grid-excel fileName="WorkStations.xlsx" [fetchData]="allData"></kendo-grid-excel>
                <kendo-grid-messages [groupPanelEmpty]="'Drag a column header and drop it here to group by that column'|translate" [pagerItemsPerPage]="'items_per_page'|translate" [pagerItems]="'itemsPage'|translate" [pagerOf]="'of'|translate" noRecords="{{'no_records_available' | translate}}">
                </kendo-grid-messages>
            </kendo-grid>
        </div>
    </div>
</div>
<app-delete-work-stations #deleteWorkStationsCom (onDeleted)="getWorkStationsPending()"></app-delete-work-stations>
<app-active-work-stations #activeWorkStationsCom (onActivated)="getWorkStationsPending()"></app-active-work-stations>