<div class="forgetpass1 row-direction1">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4  accountformdisplay">
        <div class="d-flex justify-content-end">
            <div class="dropdown mr-1 w-100">
                <div class="row   mb-1" style='direction: ltr;'>
                    <div class="col-8 col-md-9 col-sm-8">
                        <div class="heading-login  ">
                            <img src="assets/images/arqami_logo.svg" alt="">
                        </div>
                    </div>
                    <div class="col-4 col-md-3 col-sm-4 text-center">
                        <div class=" select-account">

                            <i class="fa fa-globe" aria-hidden="true"></i>

                            <select #selectedLang (change)="switchLang(selectedLang.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                  [selected]="lang === translate.currentLang">
                  {{ lang }}</option>
              </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="loginForm">
            <div class="reg-button-form">

            </div>
            <div class="login-button-form">

            </div>

        </div>
        <div class="row row-direction1">
            <div class="col-md-10 " style="padding-left:0">
                <div class="form-login-container">
                    <div class="container" style="padding:0">
                        <div class="card-acount brand mb-3">
                            <div class="heading-login mx-auto d-block ">
                                <h1 class="text-center">Forget Password</h1>
                            </div>
                            <div class="card-body text-center">
                                <div class="col-md-12 d-block">
                                    <form class="loginFormAdmin form" [formGroup]="form">
                                        <div class="form-group mb-4">
                                            <label class="label-input-pos " for="">{{'Register_code'|translate}}</label>
                                            <input type="text" class="form-control input-sm mb-1" maxlength="50" nfNoSpaces formControlName="confirmCode">

                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12" formGroupName="passwordGroup">
                                                <div class="form-group">
                                                    <label class="label-input-pos " for="">{{'password'|translate}}</label>
                                                    <input type="password" formControlName="Password" class="form-control input-sm" id="password" autocomplete="off" nospace>

                                                    <span *ngIf="passwordCtrl.errors && passwordCtrl.errors.required  && passwordCtrl.dirty 
                         && passwordCtrl.touched" class="validationMsg text-danger justify-content-start d-flex">{{validationMessages.Password_required}}</span>
                                                    <span *ngIf="passwordCtrl.errors && !passwordCtrl.errors.required && passwordCtrl.errors.minlength &&
                          passwordCtrl.errors && passwordCtrl.dirty && passwordCtrl.touched" class="validationMsg text-danger justify-content-start d-flex">{{validationMessages.Password_minlength}}</span>
                                                    <span *ngIf="passwordCtrl.errors && !passwordCtrl.errors.required && !passwordCtrl.errors.minlength && passwordCtrl.errors.pattern && 
                         passwordCtrl.errors && passwordCtrl.dirty && passwordCtrl.touched" class="validationMsg text-danger justify-content-start d-flex">{{validationMessages.Password_pattern}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12" formGroupName="passwordGroup">
                                                <div class="form-group">
                                                    <label class="label-input-pos " for="">{{'confirmPassword'|translate}}</label>
                                                    <input type="password" class="form-control input-sm" id="confirmPassword" autocomplete="off" formControlName="confirmPassword" nospace>
                                                    <span *ngIf="confirmPasswordCtrl.errors && confirmPasswordCtrl.errors.required  && confirmPasswordCtrl.dirty 
                        && confirmPasswordCtrl.touched" class="validationMsg text-danger justify-content-start d-flex">{{validationMessages.confirmPassword_required}}</span>
                                                    <span *ngIf="confirmPasswordCtrl.errors && !confirmPasswordCtrl.errors.required && confirmPasswordCtrl.errors.isMatching &&
                          confirmPasswordCtrl.dirty && confirmPasswordCtrl.touched" class="validationMsg text-danger justify-content-start d-flex">{{validationMessages.confirmPassword_isMatching}}</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group mb-6">
                                            <button type="submit" (click)="changePassword()" class="w-100 btn btn-lg mb-4 bg-lo ">{{'send'| translate}}</button>
                                        </div>
                                        <div class="form-group text-left pdd-20">
                                            <div class="row">
                                                <div class="col-8 col-md-8">
                                                    <div class="M_welocmDiv ">
                                                        <label class=" text-center font-Bold text-black">{{'Dont have an account ?'|translate}}</label>
                                                        <label class="ml-2 text-center font-Light arqami-color"><a [routerLink]="['/signup']"
                                class="arqami-color">
                                {{'signup'|translate}}</a></label>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-4">
                                                    <div class=" d-inline">
                                                        <label class="w-100 text-right font-Light color_link"><a class="arqami-color"
                                [routerLink]="['/login']">
                                {{'login page '|translate}}</a></label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>